html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 30px;
  box-sizing: border-box;
  background: linear-gradient(30deg, #fff3f3 30%, #fff 90%);
}
